altgraph==0.17.4
asgiref==3.8.1
auto-py-to-exe==2.42.0
bottle==0.12.25
bottle-websocket==0.2.9
certifi==2025.4.26
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
cryptography==44.0.3
defusedxml==0.7.1
distlib==0.3.9
Django==5.2.1
django-js-asset==3.1.2
Eel==0.16.0
filelock==3.18.0
future==0.18.3
git-filter-repo==2.47.0
idna==3.10
numpy==2.3.1
oauthlib==3.2.2
packaging==23.2
pefile==2023.2.7
pillow==11.2.1
platformdirs==4.3.8
pycparser==2.22
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
PyJWT==2.10.1
pyparsing==3.1.1
python-decouple==3.8
python3-openid==3.2.0
pywin32-ctypes==0.2.2
reportlab==4.4.1
requests==2.32.3
requests-oauthlib==2.0.0
setuptools==69.0.3
shapely==2.1.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
virtualenv==20.31.2
whichcraft==0.6.1
zope.event==5.0
zope.interface==6.1
psycopg2-binary==2.9.10
whitenoise==6.9.0
gunicorn==21.2.0
dj-database-url==2.1.0